.container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
}

.config {
    box-sizing: border-box;
    width: 33%;
    height: 33%;
    margin: 10px
}

.estilo {
    box-sizing: border-box;
    padding: 30px;
    height: 322px;
    width: 500px;
    border: 1px solid black;
}

.reiniciar {
    margin-top: 37px;
    box-sizing: border-box;
    padding: 30px;
    height: 322px;
    width: 500px;
    border: 1px solid black;
}